/* BOX-stroids website styles */
* {
	padding:0;
	margin:0;
}
body {
	overflow:hidden;
}
#gameplay-bg {
	position:absolute;
	background:#555;
	bottom:0;
	right:0;
	left:0;
	top:0;
}
#menu {
	position:absolute;
	background:#333;
	bottom:0;
	right:70%;
	left:0;
	top:0;
}
#news {
	position:absolute;
	background:#333;
	bottom:5%;
	right:5%;
	left:70%;
	top:80%;
}
#accent, #accent-color {
	position:absolute;
	height:2000px;
	width:400px;
	transform:rotate(20deg);
	margin-top:-1000px;
	left:30%;
	top:50%;
}
#accent {background:#333;margin-left:-200px;}
#accent-color {background:red;margin-left:-170px;}