/* BOX-stroids website styles */
* {
	padding:0;
	margin:0;
}
body {
	cursor:url('./cursor.png'),auto;
	overflow:hidden;
}
/* Font 1 */
#menu, #news {font-family:'borda',calibri,arial,tahoma;}
#gameplay-bg, #gameplay-bg-cover {
	position:absolute;
	background:#555;
	bottom:0;
	right:0;
	left:0;
	top:0;
}
#gameplay-bg-cover {
	opacity:.01;
}
#menu {
	position:absolute;
	background:#313944; /* Same as accent */
	color:#FFF;
	bottom:0;
	right:70%;
	left:0;
	top:0;
}
#menu #logo {
	position:absolute;
	background:url('./title.png') no-repeat 50% 50%;
	background-size:contain;
	bottom:80%;
	right:0;
	left:0;
	top:5%;
}
#menu ul {
	position:absolute;
	list-style:none;
	display:block;
	bottom:5%;
	right:0;
	left:0;
	top:25%;
}
#menu ul li {
	background:#464d57;
	text-align:center;
	margin-left:10px;
	margin-top:10px;
	font-size:200%;
}
#menu ul li:hover {
	background:#f0793f;
	margin-right:-40px;
	text-indent:-40px;
}
#accent, #accent-color {
	position:absolute;
	height:2000px;
	width:400px;
	transform:rotate(20deg);
	margin-top:-1000px;
	left:30%;
	top:50%;
}
#accent {background:#313944;/* Same as menu bg */margin-left:-200px;}
#accent-color {background:#f0793f;margin-left:-190px;}
#news {
	border-left:5px solid #f0793f;
	background:#313944;
	position:absolute;
	padding:5px;
	color:#FFF;
	bottom:5%;
	right:5%;
	left:70%;
	top:80%;
}
#news #game-version {
	background:#464d57;
	position:absolute;
	line-height:20px;
	height:20px;
	padding:5px;
	bottom:0;
	right:0;
	left:0;
}